@import "colors-variable";

mat-toolbar {
  -webkit-box-shadow: $header_box_shadow;
  -moz-box-shadow: $header_box_shadow;
  box-shadow: $header_box_shadow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user-info {
  font-size: 14px;

  button {
    font-size: 16px;
    font-weight: bold;
  }
}

.teacher {
  background-color: $header_background_teacher;
  color: $black;
}

.student {
  background-color: $header_background_student;
  color: $white;
}

